.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

li {
  list-style-type: none;
}

.nerds-logo {
  margin-right: 201px;
  margin-left: 20px;
}

.nerds-logo:hover {
  opacity: 0.8;
}

.nerds-logo:active {
  opacity: 0.3;
}

.page-header {
  padding-top: 50px;
  background-color: #eeeeee;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-navigation {
  margin-right: 184px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  padding: 0;
}

.nav-link {
  font-weight: 500;
  line-height: 30px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-list-item {
  margin-right: 46px;
}

.nav-link:hover {
  color: #fb565a;
}

.nav-link:active {
  color: black;
  opacity: 0.3;
}

.icon-basket {
  padding-left: 40px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 7px;
  font-weight: 500;
  line-height: 30px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.icon-basket:hover {
  color: #fb565a;
}

.icon-basket:active {
  color: rgba(0, 0, 0, 0.3);
}


.service {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
  padding: 0;
  padding-bottom: 93px;
  border-bottom: 2px solid red;
}

.service-block {
  width: 300px;
}

.service-block:nth-child(2) {
  margin-right: 100px;
  margin-left: 100px;
}

.service-img {
  display: block;
}

.service-head {
  margin-top: 26px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.service-desc {
  margin-bottom: 45px;
}

.service-link {
  border-top: 3px solid transparent;
  padding-bottom: 16px;
  padding-top: 12px;
  padding-left: 40px;
  padding-right: 39px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.service-link--one {
  background-color: #fb565a;
}

.service-link--one:hover {
  background-color: #e74246;
}

.service-link--one:active {
  border-color: #c13135;
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.service-link--two {
  background-color: #00ca74;
}

.service-link--two:hover {
  background-color: #00bc6c;
}

.service-link--two:active {
  border-color: #009958;
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.service-link--three {
  background-color: #efc84a;
}

.service-link--three:hover {
  background-color: #eab534;
}

.service-link--three:active {
  border-color: #ce961f;
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.social-ul {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-right: 128px;
  margin-left: 21px;
}

.social-item {
  margin-right: 13px;
}


.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 58px;
}

.footer-desc {
  width: 580px;
}

.footer-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: black;
}

.footer-text {
  margin-top: 0;
  line-height: 22px;
  color: #444444;
}

.pop-up-label {
  font-weight: bold;
  line-height: 18px;
  color: black;
}

input[type="text"],
input[type="email"] {
  font: inherit;
  border: 2px solid #d7dcde;
  outline: none;
  color: #444444;
}

.pop-up-textarea {
  border: 2px solid #d7dcde;
  outline: none;
  resize: none;
}

.pop-up-btn {
  border: 0;
  padding-bottom: 15px;
  padding-top: 17px;
  padding-right: 83px;
  padding-left: 83px;
  background-color: #fb565a;
  font-weight: bold;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.pop-up-cross {
  border: 0;
}

.shop-main-title {
  margin: 0;
  padding-top: 68px;
  padding-bottom: 107px;
  text-align: center;
  min-height: 162px;
  background-color: #eeeeee;
  font-weight: bold;
  font-size: 55px;
  line-height: 55px;
  color: black;
}

.form-radio-item-label {
  line-height: 20px;
  color: #283136;
}

.form-checkbox-label {
  line-height: 20px;
  color: #283136;
}

.show-btn {
  margin-top: 30px;
  border: 0;
  border-top: 3px solid transparent;
  padding-bottom: 19px;
  padding-top: 19px;
  padding-left: 83px;
  padding-right: 83px;
  outline: none;
  font-weight: bold;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.show-btn:hover,
.show-btn:focus {
  background-color: #dfdfdf;
}

.show-btn:active {
  border-color: #bfbfbf;
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.shop {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  padding: 0;
}

.main-form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.block-flex {
  display: flex;
  justify-content: space-between;
}

.shop-item {
  position: relative;
  width: 360px;
  margin-bottom: 35px;
}

.shop-item:nth-child(odd) {
  margin-right: 40px;
}


.shop-img {
  display: block;
}

.shop-browser {
  height: 40px;
  opacity: 0.12;
}

.shop-footer {
  /** display: none; **/
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
  height: 230px;
  max-height: 230px;
  padding: 21px 10px 42px;
  overflow-y: auto;
  text-align: center;
}

.shop-item:hover > .shop-footer {
  display: block;
}

.shop-title {
  margin-top: 0;
  margin-bottom: 14px;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.shop-desc {
  margin: 0 auto;
  margin-bottom: 49px;
  width: 200px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.shop-btn {
  border-top: 3px solid transparent;
  padding-bottom: 14px;
  padding-top: 17px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #fb565a;
}

.shop-btn:hover {
  background-color: #e74246;
}

.shop-btn:active {
  border-color: #c13135;
  background-color: #d7373b;
}

.form-radio-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.form-checkbox-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: black;
  text-transform: uppercase;
}

.social {
  background-color: #e1e1e1;
  display: flex;
  width: 78px;
  height: 78px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.social:hover {
  background-color: #e74246;
}

.social:active svg {
  background-color: #d7373b;
  opacity: 0.3;
}

.social svg {
  display: block;
}

.slides {
  position: relative;
  background-color: #eeeeee;
  margin-bottom: 81px;
}

.slide {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.slide-item {
  min-height: 415px;
  background-repeat: no-repeat;
}

.slide-item--one {
  background-image: url("../img/slide1.png");
  background-position: top 3px right 30px;
}

.slide-item--two {
  background-image: url("../img/slide2.png");
  background-position: top -16px right 1px;
}

.slide-item--three {
  background-image: url("../img/slide3.png");
  background-position: top 3px right 2px;
}

.slide-head {
  padding-top: 64px;
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: black;
}

.slide-desc {
  margin-top: 25px;
  margin-bottom: 52px;
}

.slide-btn {
  background-color: #fb565a;
  border-top: 3px solid transparent;
  padding-bottom: 16px;
  padding-top: 12px;
  padding-left: 53px;
  padding-right: 56px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.slide-buttons {
  position: absolute;
  left: 47.7%;
  bottom: 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.slide-buttons-item:nth-child(2) {
  margin-left: 17px;
  margin-right: 17px;
}

.slide-buttons-link {
  display: block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
}

.slide-buttons-link--active:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.about {
  display: flex;
  /**  align-items: flex-end; **/
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: right 40px;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 46px;
  border-bottom: 2px solid red;
}

.about-head {
  margin-top: 78px;
  margin-bottom: 33px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: black;
}

.about-desc {
  margin-bottom: 40px;
}

.about-list {
  margin: 0;
  padding: 0;
}

.about-list-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 25px;
}

.about-list-item::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  width: 26px;
  height: 2px;
  background-color: #fb565a;
}

.about-header {
  font-size: 16px;
  line-height: 24px;
  color: black;
  text-transform: uppercase;
}

.about-header--one {
  margin-bottom: 23px;
}

.about-header--two {
  text-align: center;
  margin-bottom: 58px;
}

.about-table {
  min-width: 360px;
}

.about-table-numbers {
  padding-bottom: 27px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: black;
}

.about-table-numbers sup {
  font-size: 30px;
}

.about-block--two {
  margin-top: 271px;
  margin-left: 150px;
}

.partners {
  width: 1160px;
  margin: 0 auto;
  border-bottom: 2px solid red;
  padding-top: 5px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners-item {
  position: relative;
  width: 22%;
  height: 174px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-item:nth-child(4) {
  width: 260px;
}

.partners-item:nth-child(-n+3)::after {
  content: "";
  position: absolute;
  top: 57px;
  right: -26px;
  width: 2px;
  height: 52px;
  background-color: #eee;
}

.partners-link {}

.partners-item > a img {
  opacity: 0.2;
}

.partners-item > a:hover img {
  opacity: 1.0;
}

.partners-item > a:active img {
  opacity: 0.1;
}

.page-main {
  margin-bottom: 79px;
}


.map {
  position: relative;
  width: 100%;
  margin: 0 0 39px;
  background-color: #f1eee9;
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
}

.container-map {
  width: 1160px;
}

.map-info {
  position: absolute;
  top: 53px;
  z-index: 1;
  width: 220px;
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

.map-info-title {
  display: block;
  font-size: 18px;
  margin: 0 0 27px;
  font-weight: 700;
  text-transform: uppercase;
}

.map-info-desc {
  margin: 0 0 17px;
  line-height: 18px;
  color: #666;
}

.map-info-desc-two {
  margin: 0 0 54px;
  line-height: 18px;
  color: #666;
}

.map-info-btn {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 45px;
  padding-right: 44px;
  background-color: #fb565a;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}







.pop-up {
  position: absolute;
  top: 1706px;
  left: 452px;
  width: 960px;
  z-index: 10;
}

.pop-up-form {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
  background-color: #ffffff;
}

.pop-up-field {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 84px;
  border: 0 none;
}

.pop-up-title {
  padding-top: 67px;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: black;
}

.flex-pop-up {
  display: flex;
}

.pop-up-item {
  width: 360px;
}

.pop-up-item-textarea {
  padding-bottom: 24px;
}

.pop-up-item:nth-child(1) {
  margin-right: 40px;
}

.pop-up-textarea {
  box-sizing: border-box;
  width: 760px;
}

.pop-up-label {}

.pop-up-input {
  box-sizing: border-box;
  width: 100%;
  margin: 8px 0 0;
  padding: 10px;
  font-weight: 400;
  color: rgba(68, 68, 68, .5);
  border: 2px solid #d7dcde;
  border-radius: 2px;
  -webkit-text-fill-color: rgba(68, 68, 68, .5);
}


.pop-up-textarea {
  height: 115px;
  margin: 8px 0 0;
  padding: 9px;
  font-weight: 400;
  color: rgba(68, 68, 68, .5);
  border: 2px solid #d7dcde;
  border-radius: 2px;
  -webkit-text-fill-color: rgba(68, 68, 68, .5);
}

.pop-up-cross {
  position: absolute;
  background-color: transparent;
  border: 0;
  top: 76px;
  right: 81px;
  width: 28px;
  height: 28px;
  outline: 0;
  opacity: .3;
  cursor: pointer;
  transform: rotate(45deg);
}

.pop-up-cross::before {
  width: 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%) rotate(90deg);
  transform: translateX(-50%);
  background-color: #fb565a;
}

.pop-up-cross::after {
  width: 4px;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%) rotate(90deg);
  background-color: #fb565a;
}
